/* styles.scss */
$primary-color: #3498db;
$secondary-color: #2ecc71;

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px; /* Adjust the maximum width to your preference */
    margin: 0 auto;  /* Center the container horizontally */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h1 {
    color: $primary-color;
}

h2 {
    color: $secondary-color;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

button {
    background-color: $primary-color;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

form input {
    margin: 5px;
    padding: 5px;
}

.pod-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex; /* Display columns in a row */
    flex-wrap: wrap; /* Allow columns to wrap to the next line */
    gap: 10px; /* Add a 10px gap between columns */
}

.container-name {
    font-weight: bold;
    flex: 1; /* Expand to fill available space */
}

.image {
    color: $primary-color;
    flex: 1; /* Expand to fill available space */
}

.state {
    color: $secondary-color;
}

.start-button, .stop-button {
    background-color: $primary-color;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}


.list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Add a 10px gap between columns */
}

.list-header {
  background-color: #f2f2f2; /* Header background color */
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.list-header span {
  font-weight: bold;
}

.list li {
  background-color: #fff; /* List item background color */
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.list li span {
  flex: 1;
}
